@model Company;
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="~/companiebi/@Model.img_name" alt="@Model.Name - Image" />
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">@Model.Name</h1>
                <p class="lead">@Model.description</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 ">

    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">კომპანიის ტურები</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var i in ViewBag.yvela_tur as List<Turebi>)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" style="height:150px" src="~/turebi/@i.image_name" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@i.Name</h5>
                                $@i.Price
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="GetTuri" asp-route-id="@i.id">
                                    დეტალურად
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

