@model SastumtroAndDajavshna
<div class="container text-center m-4">
    <span class="text-danger fw-bold">@TempData["Sastumroexists"]</span>
    <span class="text-success fw-bold">@TempData["Success"] </span>
    <span class="text-success fw-bold">@TempData["SastumroSuc"]</span>
    <span class="text-danger fw-bold">@TempData["NotRegirted"]</span>
</div>
<section class="py-5">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top rounded shadow-lg mb-4" src="~/Sastumroebi/@Model.Sastumroebi.image_name" alt="@Model.Sastumroebi.Name - Image" />
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder text-primary">@Model.Sastumroebi.Name</h1>
                <div class="fs-4 text-muted mb-4">
                    <span class="text-success">$@Model.Sastumroebi.Fasi</span>
                </div>
                <p class="lead text-dark">@Model.Sastumroebi.Description</p>
                <div class="container text-center mt-4" style="margin-bottom: 20px">
                    <p class="mb-3 text-muted">
                        დაჯავშნილია:
                        <strong class="text-success">@ViewBag.CurrCapitacity</strong> /
                        ადგილი:
                        <strong class="text-primary">@ViewBag.MaxCapitacity</strong>
                        @if (ViewBag.MaxCapitacity == ViewBag.CurrCapitacity)
                        {
                            <span class="text-danger d-block mt-2">
                                <strong>სამწუხაროდ</strong> ადგილები აღარ არის დარჩენილი  
                            </span>    
                        }
                        else if (ViewBag.MaxCapitacity - 10 <= ViewBag.CurrCapitacity)
                        {
                            <span class="text-danger d-block mt-2">
                                <strong>იჩქარეთ!</strong> დარჩენილია მხოლოდ 
                                <strong>@((ViewBag.MaxCapitacity - ViewBag.CurrCapitacity>0) ?ViewBag.MaxCapitacity - ViewBag.CurrCapitacity:0)</strong> ადგილი.
        </span>
                        }
                    </p>
                    <h2 class="mb-4 text-success">სტატუსი</h2>
                    <div class="progress" style="height: 30px; border-radius: 15px;">
                        <div class="progress-bar   bg-success"
                             role="progressbar"
                             style="width: @(ViewBag.CurrCapitacity * 100 / ViewBag.MaxCapitacity)%;"
                             aria-valuenow="@ViewBag.CurrCapitacity"
                             aria-valuemin="0"
                             aria-valuemax="@ViewBag.MaxCapitacity">
                            @ViewBag.CurrCapitacity
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <form method="post" asp-controller="Home" asp-action="Fav_Sastumroebi" asp-route-id="@Model.Sastumroebi.Id" name="form1">
                        <button type="submit" class="btn btn-outline-primary shadow-sm me-3">კალათაში დამატება</button>
                    </form>
                    <button type="button" class="btn btn-outline-success shadow-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        დაჯავშნა
                    </button>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                           @if (ViewBag.MaxCapitacity <= ViewBag.CurrCapitacity)
                           {
                               <h2 class="text-danger">ადგილები აღარ არის სამწუხაროდ. მოგვიანებით ცადეთ</h2>
                               <div class="modal-footer">
                                   <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">დახურვა</button>
                               </div>
                           }
                           else
                           {
                                <div class="modal-header">
                                    <h5 class="modal-title fw-bolder " id="exampleModalLabel">დაჯავშნა</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form method="post" asp-controller="Home" asp-action="Dajavshna">
                                    <div class="modal-body">
                                        <input type="text" class="form-control" asp-for="@Model.sastumroDajavshna.Id" hidden/>
                                        <input type="text" class="form-control" asp-for="@Model.Sastumro_Id" value="@Model.Sastumroebi.Id" hidden/>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="SAXELI" placeholder="სახელი" asp-for="@Model.sastumroDajavshna.First_Name" required>
                                            <label for="SAXELI" asp-for="@Model.sastumroDajavshna.First_Name">სახელი</label>
                                            <span asp-validation-for="@Model.sastumroDajavshna.First_Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="GVARI" placeholder="გვარი " asp-for="@Model.sastumroDajavshna.Last_Name" required>
                                            <label for="GVARI" asp-for="@Model.sastumroDajavshna.Last_Name"> გვარი</label>
                                            <span asp-validation-for="@Model.sastumroDajavshna.Last_Name" class="text-danger"></span>

                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="tel" class="form-control" id="TELNOMER" placeholder="ტელეფონის ნომერი" asp-for="@Model.sastumroDajavshna.Phone_Number" required>
                                            <label for="TELNOMER" asp-for="@Model.sastumroDajavshna.Phone_Number">ტელეფონის ნომერი</label>
                                            <span asp-validation-for="@Model.sastumroDajavshna.Phone_Number" class="text-danger"></span>

                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="GMAIL" placeholder="გმაილი" asp-for="@Model.sastumroDajavshna.gmail" required>
                                            <label for="GMAIL" asp-for="@Model.sastumroDajavshna.gmail">გმაილი</label>
                                            <span asp-validation-for="@Model.sastumroDajavshna.gmail" class="text-danger"></span>

                                        </div>
                                        <div class="form-floating mb-3">
                                            <textarea class="form-control" placeholder="დატოვე შეტყობინება" id="floatingShetyobineba" asp-for="@Model.sastumroDajavshna.text"
                                                      style="height: 100px;resize:none"></textarea>
                                            <label for="floatingShetyobineba" asp-for="@Model.sastumroDajavshna.text">შეტყობინება</label>
                                            <span asp-validation-for="@Model.sastumroDajavshna.text" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">დახურვა</button>
                                        <button type="submit" class="btn btn-outline-success">დაჯავშნა</button>
                                    </div>
                                </form>
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex align-items-center mt-3">
                    <i class="bi bi-geo-alt text-success fs-5"></i>
                    <label class="fw-bold text-success ms-2">@Model.Sastumroebi.Lokacia</label>
                </div>
                @if (Model.Sastumroebi.Nomer is not null)
                {
                    <div class="d-flex align-items-center mt-2">
                        <i class="bi bi-telephone text-secondary fs-5"></i>
                        <label class="text-secondary fw-bold ms-2">@Model.Sastumroebi.Nomer</label>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <h2 class="fw-bolder mb-4">სერვისები</h2>
        <ol class="list-group" style="margin-top: 20px;">
            @for (int index = 1; index < ViewBag.tvisebasaxeli.Count - 1; index++)
            {
                var j = ViewBag.tvisebebi.GetType().GetProperty(ViewBag.tvisebasaxeli[index])?.GetValue(ViewBag.tvisebebi, null);
                var icon = j == "YES" ? "bi-check-circle text-success" : "bi-x-circle text-danger";
                var text = j == "YES" ? "კი" : "არა";
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="fw-bold">@string.Join(" ",ViewBag.tvisebasaxeli[index].Split("_"))</span>
                    <span class="badge @icon" style="font-size: 1.5em;">
                        @text
                    </span>
                </li>
            }
        </ol>
    </div>
</section><section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">დაკავშირებული ტურები</h2>
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var i in ViewBag.loadturebi as List<Turebi>)
            {
                <div class="col mb-5">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top rounded" style="height:150px; object-fit: cover;" src="~/turebi/@i.image_name" alt="@i.Name" />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@i.Name</h5>
                                <p class="text-muted">$@i.Price</p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="GetTuri" asp-route-id="@i.id">
                                    დეტალურად
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">მსგავსი სასტუმროები</h2>
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var i in ViewBag.yvelasastumro as List<Sastumroebi>)
            {
                <div class="col mb-5">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top rounded" style="height:150px; object-fit: cover;" src="~/Sastumroebi/@i.image_name" alt="@i.Name" />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@i.Name</h5>
                                <p class="text-muted">$@i.Fasi</p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="GetSastumro" asp-route-id="@i.Id">
                                    დეტალურად
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
