@model Sastumroebi
<div class="container text-center m-4">

<span class="text-danger">@TempData["Sastumroexists"]</span>
<span class="text-success">@TempData["SastumroSuc"]</span>
<span class="text-danger">@TempData["NotRegirted"]</span>
</div>
<section>        
<div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="~/Sastumroebi/@Model.image_name" alt="@Model.Name - Image" />
            </div>

            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">@Model.Name</h1>
                <div class="fs-5 mb-5">
                    <span>$@Model.Fasi</span>
                </div>
                <p class="lead">@Model.Description</p>
                <div class="d-flex">
                <form method="post" asp-controller="Home" asp-action="Fav_Sastumroebi" asp-route-id="@Model.Id" name="form1">
                        <button type="submit" class="btn btn-outline-primary">კალათაში დამატება</button>
                    </form>
                </div>
            </div>
        </div>
</section>
 <section class="py-5 bg-light">

    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">მსგავსი პროდუქტები</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var i in ViewBag.yvelasastumro as List<Sastumroebi>)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" style="height:150px" src="~/Sastumroebi/@i.image_name" alt="..." />
                        <div class="card-body p-4">

                            <div class="text-center">
                                <h5 class="fw-bolder">@i.Name</h5>
                                $@i.Fasi
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="GetSastumro" asp-route-id="@i.Id">
                                        დეტალურად
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
