@using Microsoft.AspNetCore.Identity

@model Turebi;
@inject UserManager<User> UserManager;
<section class="py-5">
    <span class="text-danger">@TempData["Failed"]</span>
    <span class="text-success">@TempData["Success"]</span>
    <span class="text-danger">@TempData["Error"]</span>
    <div class="container px-4 px-lg-5 my-5">
        @if (User.IsInRole("Admin"))
        {
            
        <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.id">
            <i class="bi bi-pencil-square btn btn-outline-primary" style="font-size:20px"></i>
        </a>
        <form asp-controller="Home" asp-action="Delete" asp-route-id="@Model.id">
                <i type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="bi bi-x-square-fill btn btn-outline-danger" style="font-size:20px"></i>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">ნამვდილად გსურთ წაშლა?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-danger">
                            გაფრთხილება!! თუ ამას წაშლით უკან ვეღარ დააბრუნებთ
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">დახურვა</button>
                            <button type="submit"  class="btn btn-danger">წაშლა</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        }
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="~/turebi/@Model.image_name" alt="@Model.Name - Image" />
            </div>

            <div class="col-md-6">
                <span class="text-secondary">
                    კომპანია: 
                    <a asp-controller="Home" asp-action="Get_Kompania" asp-route-id="@Model.Company.Company_Id">
                    @Model.Company.Name

                    </a>
                    </span>
                <h1 class="display-5 fw-bolder">@Model.Name</h1>
                <div class="fs-5 mb-5">
                    <span>$@Model.Price</span>
                </div>
                <p class="lead">@Model.Description</p>
                <div class="d-flex">
                    <form method="post" asp-controller="Home" asp-action="ShoppingCart" asp-route-id="@Model.id" name="form1">
                        <button type="submit" class="btn btn-outline-primary">კალათაში დამატება</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">დაკავშირებული სასტუმროები    </h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var i in ViewBag.Sastumroebi )
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" style="height:150px" src="~/Sastumroebi/@i.image_name" alt="..." />
                        <div class="card-body p-4">

                            <div class="text-center">
                                <h5 class="fw-bolder">@i.Name</h5>
                                $@i.Fasi
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="GetSastumro" asp-route-id="@i.Id">
                                    დეტალურად
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">მსგავსი ტურები</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var i in ViewBag.yvela_tur as List<Turebi>)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" style="height:150px" src="~/turebi/@i.image_name" alt="..." />
                        <div class="card-body p-4">

                            <div class="text-center">
                                <h5 class="fw-bolder">@i.Name</h5>
                                $@i.Price
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="GetTuri" asp-route-id="@i.id">
                                        დეტალურად
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

