@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;

@model List<Turebi>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div style="display:flex; flex-direction: column; align-items: center; margin-top: 60px;">
        <button class="hh5" style="font-size: 26px; ">ყველა ტურისტული სერვისი ერთ სივრცეში</button>
        <button class="hh5" style="font-size: 13px;">
            მოითხოვეთ ყველა სერვისი ერთ სივრცეში
        </button>
    </div>
    <div style="margin-top: 30px; background-color: white; margin-right: 40px; border-radius: 15px; width: 1290px; border-style: solid; border-width: 0.1px; border-color: dimgrey">
        <button type="button" class="btn btn-primary btn-lg">ავიაბილეთები</button>

        <a asp-controller="Home" asp-action="Yvela" class="btn btn-secondary btn-lg oa">
            ტურები
        </a>
        <button type="button" class="btn btn-primary btn-lg ka">სასტუმრო</button>
        <button type="button" class="btn btn-secondary btn-lg ta">ტრანსფერი</button>
        <button type="button" class="btn btn-secondary btn-lg fa" style="margin-top: 4px">სავიზო მხარდაჭერა</button>
    </div>
    <div style="display:flex; flex-direction: column; align-items: center; margin-top: 20px;">
        <button class="hh5" style="font-size: 26px; ">დღის შეთავაზება</button>
        <button class="hh5" style="font-size: 13px">
            ყველას ნახვა
        </button>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col-5" style="width: 22px">
            <a asp-controller="Home" asp-action="Turi"><i class="bi bi-plus-circle-fill" style="font-size:25px"></i></a>
        </div>
    }
    else
    {

    }


</div>
<div class="owl-carousel owl-theme" style="margin-left: 25px">
    @{
        int index = 0;
        foreach (var product1 in Model)
        {
            <div style="display: flex; flex-direction: column;align-items:center">
                <div class="item">
                    <a asp-controller="Home" asp-action="GetTuri" asp-route-id="@product1.id">

                <img src="/turebi/@product1.image_name" style="width: 384px; border-radius: 5px; height: 384px; margin: 10px ;" alt="img">
                    </a>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <h4>@product1.Name</h4>
                    <h4 style=" display: flex;margin-right: 50px ;">
                        @product1.Price
                        <img src="https://www.turebi.ge/templatesv2/assets/img/green-gel.svg" style="width: 25px; height: 20px; margin-top: 5px" alt="price" class="w-unset mr-5">
                    </h4>
                </div>
            </div>
            index++;
        }
    }
</div>
<div style="display:flex; flex-direction: column; align-items: center; margin-top: 20px;">
    <button class="hh5" style="font-size: 26px; ">ტოპ შეთავაზებები</button>
    <button class="hh5" style="font-size: 13px;">
        ყველა ტური საზღვარგარეთ
    </button>
</div>
@if (User.IsInRole("Admin"))
{
    <div class="col-5">
        <a asp-controller="Home" asp-action="Add"><i class="bi bi-plus-circle-fill" style="font-size:25px"></i></a>
    </div>
}
else
{



    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var i in Model)
            {
                <div class="carousel-item @(Model.First() == i ? "active" : "")">
                    <a asp-controller="Home" asp-action="GetTuri" asp-route-id="@i.id">

                    <img src="~/turebi/@i.image_name" style="width:600px;height:800px" class="d-block w-100" alt="@i.Name">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@i.Name</h5>
                        <p>@i.Description</p>
                    </div>
                </div>
            }
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


}