@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
@inject UserManager<IdentityUser> UserManager;

@model List<Turebi>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div style="display:flex; flex-direction: column; align-items: center; margin-top: 60px;">
    <button class="hh5" style="font-size: 26px; ">ყველა ტურისტული სერვისი ერთ სივრცეში</button>
    <button class="hh5" style="font-size: 13px;">
        მოითხოვეთ ყველა სერვისი ერთ სივრცეში
    </button>
</div>
<div  style="margin-top: 30px; background-color: white; margin-right: 40px; border-radius: 15px; width: 1290px; border-style: solid; border-width: 0.1px; border-color: dimgrey">
    <button type="button" class="btn btn-primary btn-lg">ავიაბილეთები</button>
    <button type="button" class="btn btn-secondary btn-lg oa">ტურები</button>
    <button type="button" class="btn btn-primary btn-lg ka">სასტუმრო</button>
    <button type="button" class="btn btn-secondary btn-lg ta">ტრანსფერი</button>
    <button type="button" class="btn btn-secondary btn-lg fa" style="margin-top: 4px">სავიზო მხარდაჭერა</button>
</div>
<div style="display:flex; flex-direction: column; align-items: center; margin-top: 20px;">
    <button class="hh5" style="font-size: 26px; ">დღის შეთავაზება</button>
    <button class="hh5" style="font-size: 13px">
        ყველას ნახვა
    </button>
</div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col-5" style="width: " 22px">
            <a asp-controller="Home" asp-action="Turi"><i class="bi bi-plus-circle-fill" style="font-size:25px"></i></a>
        </div>
    }
    else
    {
        
    }


</div>
<div class="owl-carousel owl-theme" style="margin-left: 25px">
    @{
        int index = 0;
        foreach (var product1 in Model)
        {
            <div style="display: flex; flex-direction: column ">
                <div class="item">
                    <img  src="/turebi/@product1.image_name" style="width: 384px; border-radius: 5px; height: 384px; margin-top: 10px ;margin-left: 10px" alt="img">
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <h4>@product1.Name</h4>
                    <h4  style=" display: flex;margin-right: 50px ;" >@product1.Price
                        <img src="https://www.turebi.ge/templatesv2/assets/img/green-gel.svg" style="width: 25px; height: 20px; margin-top: 5px"  alt="price" class="w-unset mr-5">
                    </h4>
                </div>
            </div>
            index++;
        }
    }
</div>
<div style="display:flex; flex-direction: column; align-items: center; margin-top: 20px;">
    <button class="hh5" style="font-size: 26px; ">ტოპ შეთავაზებები</button>
    <button class="hh5" style="font-size: 13px;">
       ყველა ტური საზღვარგარეთ
    </button>
</div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col-5">
            <a asp-controller="Home" asp-action="Add"><i class="bi bi-plus-circle-fill" style="font-size:25px"></i></a>
        </div>
    }
    else
    {
        
    }
</div>
<div style="display: flex; margin-left: 95px">
    <div id="productCarousel" style="width: 400px; height: 400px; margin-left: 20px;" class="carousel slide">
        <div class="carousel-inner" style="margin-left: 30px">
            @{
                int itemIndex = 0;
                
                foreach (var product in Model)
                {
                    var activeClass = itemIndex == 0 ? "active" : "";
                    <div class="carousel-item @activeClass">

                        <a asp-action="GetTuri" asp-route-id="@product.id">
                            <img src="/turebi/@product.image_name"style="width: 384px; height: 384px" class="d-block w-100" alt="@product.Name" />
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@product.Name</h5>
                            <p>@product.Price.ToString("C")</p>
                        </div>
                    </div>
                    itemIndex++;
                }
            }
            
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div id="productCarousel1" style="width: 400px; height: 400px; margin-left: 20px;" class="carousel slide">
        <div class="carousel-inner" style="margin-left: 30px">
            @{
                int itemIndex1 = 0;
                foreach (var product in Model)
                {
                    var activeClass = itemIndex1 == 0 ? "active" : "";
                    <div class="carousel-item @activeClass">

                        <a asp-action="GetTuri" asp-route-id="@product.id">
                            <img src="/turebi/@product.image_name"style="width: 384px; height: 384px" class="d-block w-100" alt="@product.Name" />
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@product.Name</h5>
                            <p>@product.Price.ToString("C")</p>
                        </div>
                    </div>
                    itemIndex1++;
                }
            }

            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div id="productCarousel2" style="width: 400px; height: 400px; margin-left: 20px;" class="carousel slide">
        <div class="carousel-inner" style="margin-left: 30px">
            @{
                int itemIndex2 = 0;
                foreach (var product in Model)
                {
                    var activeClass = itemIndex2 == 0 ? "active" : "";
                    <div class="carousel-item @activeClass">

                        <a asp-action="GetTuri" asp-route-id="@product.id">
                            <img src="/turebi/@product.image_name" style="width: 384px; height: 384px" class="d-block w-100" alt="@product.Name" />
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@product.Name</h5>
                            <p>@product.Price.ToString("C")</p>
                        </div>
                    </div>
                    itemIndex2++;
                }
            }

            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
