@model List<Turebi>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div style="display:flex; flex-direction: column; align-items: center; margin-top: 20px;">
        <button class="hh5" style="font-size: 26px; ">ყველა ტურისტული სერვისი ერთ სივრცეში</button>
        <button class="hh5" style="font-size: 13px;">
            მოითხოვეთ ყველა სერვისი ერთ სივრცეში
        </button>
    </div>
    <div style="margin-top: 30px; width: 900px; margin-left: 50px; border-block-style:solid; border-color: dimgrey">
        <button type="button" class="btn btn-primary btn-lg">ავიაბილეთები</button>

        <a asp-controller="Home" asp-action="Yvela" class="btn btn-secondary btn-lg oa">
            ტურები
        </a>
        <button type="button" class="btn btn-primary btn-lg ka">სასტუმრო</button>
        <button type="button" class="btn btn-secondary btn-lg ta">ტრანსფერი</button>
        <button type="button" class="btn btn-secondary btn-lg fa" style="margin-top: 4px">სავიზო მხარდაჭერა</button>
    </div>
    <div style="display:flex; flex-direction: column; align-items: center; margin-top: 20px;">
        <button class="hh5" style="font-size: 26px; ">დღის შეთავაზება</button>
        <button class="hh5" style="font-size: 13px">
            ყველას ნახვა
        </button>
    </div>
    <div>

        <div id="productCarousel1" class="carousel slide">
            <div class="carousel-inner">
                @{
                    int rato = 0;
                    foreach (var product in Model)
                    {
                        var activeClass = rato == 0 ? "active" : "";
                        <div class="carousel-item @activeClass">

                            <a asp-action="GetTuri" asp-route-id="@product.id">
                                <img src="/turebi/@product.image_name" class="d-block w-100" alt="@product.Name" />
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@product.Name</h5>
                                <p>@product.Price.ToString("C")</p>
                            </div>
                        </div>
                        rato++;
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>



    <div style="display:flex; flex-direction: column; align-items: center; margin-top: 100px;">
        <button class="hh5" style="font-size: 26px; ">ტოპ შეთავაზებები</button>
        <button class="hh5" style="font-size: 13px;">
            ყველა ტური საზღვარგარეთ
        </button>
    </div>
    <div class="row pt-4">

        <div class="col-md-6">
            <a asp-controller="Home" asp-action="Add"><i class="bi bi-plus-circle-fill" style="font-size:25px"></i></a>
        </div>
        <div class="col-md-6 text-end">
            <a asp-controller="Home" asp-action="Yvela"><h2 class="btn btn-outline-danger">ყველას ნახვა</h2></a>
        </div>
    </div>
</div>



<div>

    <div id="productCarousel" class="carousel slide">
        <div class="carousel-inner">
            @{
                int itemIndex = 0;
                foreach (var product in Model)
                {
                    var activeClass = itemIndex == 0 ? "active" : "";
                    <div class="carousel-item @activeClass">

                        <a asp-action="GetTuri" asp-route-id="@product.id">
                            <img src="/turebi/@product.image_name" class="d-block w-100" alt="@product.Name" />
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@product.Name</h5>
                            <p>@product.Price.ToString("C")</p>
                        </div>
                    </div>
                    itemIndex++;
                }
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

