@model List<Turebi>;


<div class="grid-container" >
    <div class="row">
        <div class="col-md-12 text-center" >
            <span class="text-danger">@TempData["Failed"]</span>
            <span class="text-success">@TempData["Success"]</span>
            <span class="text-danger">@TempData["Error"]</span>
            <h2>
                ყველა ტური
            </h2>
        </div>
    </div>
    <form method="post" asp-controller="Home" asp-action="Zebna">
        <div class="grid-item" style="grid-row: 1/4; position: relative;">
            <div class="dropdown" style="position: absolute; bottom: 0; right: 0;">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    დალაგება
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="FasiZrda">დალაგება ფასის ზრდადობის მიხედვით</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="FasiKlebadoba">დალაგება ფასის კლებადობის მიხედვით</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="SaxeliZrda">დალაგება სახელის ზრდადობის მიხედვით</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="SaxeliKlebadoba">დალაგება სახელის კლებადობის მიხედვით</a></li>
                </ul>
            </div>
            <div style="width:400px;">
                <input style="width:300px;position:relative; margin-top:30px;" type="search" name="names" />
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="bi bi-search" style="font-size:20px"></i>
                </button>
                <label>ლოკაციები</label>
                <select class="form-select form-select-sm" aria-label="Small select example" name="selected">
                    <option value="">აირჩიე ქვეყანა</option>
                    @foreach (var i in Model)
                    {
                        <option value="@i.Name" name="choice">@i.Name</option>
                    }
                </select>
                <label style="margin-top:10px;margin-bottom:5px">კომპანია</label>
                <select class="form-select form-select-sm" aria-label="Small select example" name="kompania">
                    <option value="">აირჩიე კომპანია</option>
                    @foreach (var i in ViewBag.company)
                    {
                        <option value="@i.Name">@i.Name</option>
                    }
                </select>
                <span>Min</span>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <span class="input-group-text">0.00</span>
                    <input type="string" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" name="min">
                </div>
                <span>Max</span>
                <div class="input-group" style="margin-bottom:20px">
                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" name="max">
                    <span class="input-group-text">$</span>
                    <span class="input-group-text">0.00</span>
                </div>
            </div>
        </div>
    </form>

   
    @foreach (var i in Model)
    {

        <div class="card mb-3 w-100" style="">
            
            <div class="row g-0">
                
                <div class="col-md-4">
        
                    <a asp-controller="Home" asp-action="GetTuri" asp-route-id="@i.id">

                        <img src="~/turebi/@i.image_name" class="img-fluid rounded-start" alt="..." style=" object-fit: cover; width: 100%;
    height: 200px">
                    </a>
        
                </div>

                <div class="col-md-8">

                    <div class="card-body">
                    
                        <span class="text-secondary">კომპანია:@i.Company.Name</span>
                        <h5 class="card-title">@i.Name</h5>
                        
                        <p class="card-text">@i.Description</p>
                        <p class="card-text"><small class="text-body-secondary">@i.Price</small></p>
                        <form method="post" asp-controller="Home" asp-action="ShoppingCart" asp-route-id="@i.id" name="form1">
                            <button type="submit" class="btn btn-outline-primary">კალათაში დამატება</button>
                        </form>
                    </div>
                    
                </div>

            </div>
        </div>
    }
</div>
