@model List<Turebi>;


<div class="grid-container">
    <div class="row">

        <div class="col-md-12 text-center">
            
            <span class="text-danger">@TempData["Failed"]</span>
            <span class="text-success">@TempData["Success"]</span>
            <span class="text-danger">@TempData["Error"]</span>
          
            <h2>
                ყველა ტური
            </h2>
        </div>
    </div>
    <form method="post" asp-controller="Home" asp-action="Zebna">

   
    <div class="grid-item" style="grid-row: 1/4">
    <div style="width:400px;" >
        <input style="width:300px;position:relative;" type="search" name="names"/>

            <button type="submit" class="btn btn-outline-secondary">
                    <i class="bi bi-search" style="font-size:20px"></i>
           </button>

            <label>ლოკაციები</label>


            <select class="form-select form-select-sm" aria-label="Small select example" name="selected" >

                <option value="">აირჩიე ლოკაცია</option>
                @foreach(var i in Model)
                {
                    <option value="@i.Name">@i.Name</option>

                }
            </select>
    </div>     
    
    </div>
    </form>
    @foreach (var i in Model)
    {
        <div class="card mb-3 w-100" style="">
            <div class="row g-0">
                <div class="col-md-4">
                   <a asp-controller="Home" asp-action="GetTuri" asp-route-id="@i.id">

                    <img src="~/turebi/@i.image_name" class="img-fluid rounded-start" alt="..." style=" object-fit: cover; width: 100%;
    height: 200px">
                   </a>
                </div>
                <div class="col-md-8">
                   
                    <div class="card-body">
                        <small class="text-body-secondary"></small>
                        <h5 class="card-title">@i.Name</h5>
                        <p class="card-text">@i.Description</p>
                        <p class="card-text"><small class="text-body-secondary">@i.Price</small></p>
                        <form method="post" asp-controller="Home" asp-action="ShoppingCart" asp-route-id="@i.id">

                        <button type="submit" class="btn btn-outline-primary">კალათაში დამატება</button>
                        
                    </form>

                    </div>

                    

                </div>

            </div>

        </div>
    }

    
</div>